<h2>Servers</h2>
<!--<div>
    <label>New Server:</label> <input #heroName />
    <button (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>-->
<table class="table table-bordered">
    <thead>
        <tr>
            <th>IP Address</th>
            <th>Hostname</th>
            <th>Port</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input #ipAddress type="text" size="30"/></td>
            <td><input #hostName type="text" size="30"/></td>
            <td><input #port type="number" size="30"/></td>
            <td>
                <button class="btn btn-primary" (click)="onAdd(ipAddress.value, hostName.value, port.value); ipAddress.value = hostName.value = port.value = null; $event.stopPropagation()">Add</button>
            </td>
        </tr>
        <tr *ngFor="let server of servers" [class.active]="server === selectedServer">
            <td>{{server.ipAddress}}</td>
            <td>{{server.hostName}}</td>
            <td>{{server.port}}</td>
            <td>
                <button class="btn btn-primary" (click)="onSelect(server); $event.stopPropagation()">Select</button>
            </td>
        </tr>
    </tbody>
</table>